$primary-color: #0F255F;
$white-color: #FFF;
$bg-color: #E8E8FF;
$title-color: #041131;
$para-color: #4F586F;
$hover-color: #536DFE;
$link-color: #1750FF;
$yellow-color: #EFA53A;
$border-color: #E5E5EC;
$red-color: #FF1D00;
$font-family: 'Roboto', sans-serif;